@page
@model PrivacyModel
@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Termos de uso e privacidade</p>
<p>Esta aplicação é livre e de código aberto, faz parte de um projeto de estudo de Nicholas Miyasato baseado na <a href="https://www.youtube.com/watch?v=fmDYYsSXrKM&list=LL&index=1&t=272s" target="_blank">Aula de CRUD para Impressionar do Balta.io</a></p>
